@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Merriweather&family=Signika+Negative:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.main{
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 600px;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*xMuIOwjliGUPjkzukeWKfw.jpeg);
    font-family: 'Karla','monospace';
}

h1{
    padding: 30px;
    font-size: 60px;
}

h2{
    padding: 50px;
    font-size: 80px;
}


#btn{
    width: 150px;
    height: 50px;
    margin-right: 40px;
    background: blue;
    color: wheat;
    font-size: 20px;
}
#debtn{
    width: 150px;
    height: 50px;
    margin-right: 40px;
    background: red;
    color: wheat;
    cursor: pointer;
    font-size: 20px;
}


#save{
    width: 150px;
    height: 50px;
    background: green;
    color: wheat;
    font-size: 20px;
}

#pe{
    font-size: 40px;
    background: red;
    margin-top: 20px;
    
}

.buttons{
    display: flex;
    
}